<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.js"></script>

  </head>
  <body>
    <div ng-app="myApp" ng-controller="lostpplContoller">
      
      <h1>Total {{ppl.length}} records available </h1>
   


    <ul >
    	
        <li ng-repeat="tt in ppl">
        	
        	{{tt.name}}
        </li>


    </ul>
    <form ng-submit="submitdata()">
    	
    <input type="text" ng-model="newPpl">
    <button type="submit">Add</button>

    </form>
    
    </div>

    <script type="text/javascript" src="/js/controller/controller.js"></script>
  </body>
</html>